### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
pymoli_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
pymoli_df = pd.read_csv(pymoli_path)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [409]:
total_player = len(pymoli_df['SN'].unique())
total_player

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [589]:
#create data frame with summary data
summary_df = pd.DataFrame(
    {
    'Number of Unique Items' : len(pymoli_df['Item ID'].unique()),
    'Average Price' : round(pymoli_df['Price'].mean(),2),
    'Number of Purchases': len(pymoli_df['Purchase ID'].value_counts()),
    'Total Revenue' : pymoli_df['Price'].sum()
    },
    index=[0]
)

summary_df.head()
#format summary values
summary_df.style.format({'Average Price':"${:,.2f}", 'Total Revenue':"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [596]:
#drop duplicate users
pymoli_drop_df = pymoli_df.drop_duplicates(subset=['SN'])

#create data frame for count and percentage by gender
gender_df = pd.DataFrame (
    {
        'Total count':pymoli_drop_df['Gender'].value_counts(),
        'Percentage of Players': pymoli_df['Gender'].value_counts(normalize=True)* 100
    }
)
#print gender dataframe with formatting
gender_df.style.format({'Percentage of Players':"{:,.2f}%" })


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [614]:
#group dataframe by gender
grouped_gender_df = pymoli_df.groupby('Gender')

#build Summary dataframe based on gender
summary_purchase_df = pd.DataFrame (
        {
            "Purchase Count" : grouped_gender_df['Purchase ID'].count(),
            "Average Purchase Price" : grouped_gender_df['Price'].mean(),
            "Total Purchase Value" : grouped_gender_df['Price'].sum(),
            "Avg Total Purchase per Person" : (grouped_gender_df['Price'].sum()) / (pymoli_drop_df['Gender'].value_counts())

        }
        
)
#print summary dataframe with style formatting
summary_purchase_df.style.format({'Average Purchase Price':"${:,.2f}", 'Total Purchase Value':"${:,.2f}", 'Avg Total Purchase per Person':"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [597]:
#Define bins and labels
range = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]
labels = ['<10','10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '>40']
pymoli_df['Age Range'] = pd.cut(pymoli_df['Age'], range, labels=labels)
age_group = pymoli_df.groupby('Age Range').nunique()
percent_players = (age_group/total_player)*100
#create age demographic dataframe
age_demo = pd.DataFrame(
    {
        'Total Count': age_group['SN'],
        'Percentage of Players': percent_players['SN']
    }
    
)
#print age demographics dataframe with style formatting
age_demo.style.format({'Percentage of Players':"{:,.2f}%" })

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [598]:
#define series for data frame
age_count = pymoli_df.groupby('Age Range')['Price'].count()
price_mean = pymoli_df.groupby('Age Range')['Price'].mean()
total_value = pymoli_df.groupby('Age Range')['Price'].sum()
purchase_avg = total_value / age_group['SN']
#build dataframe for spending based on age
age_purchase = pd.DataFrame(
        {
            'Purchase Count' : age_count,
            'Average Purchase Price' : price_mean,
            'Total Purchase Value' : total_value,
            'Avg Total Purchase per Person' : purchase_avg
        }
                
)
#print dataframe with style formatting
age_purchase.style.format({'Average Purchase Price':"${:,.2f}", 'Total Purchase Value':"${:,.2f}", 'Avg Total Purchase per Person':"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [604]:
#define series for data frame
group_players = pymoli_df.groupby('SN')
purchase_spender = group_players['Purchase ID'].count()
price_avg = group_players['Price'].mean()
total_purchase = purchase_spender * price_avg
#Build dataframe for top spender
spenders_df = pd.DataFrame(
        {
            'Purchase Count' : purchase_spender,
            'Average Purchase Price' : price_avg,
            'Total Purchase Value' : total_purchase              
        }
                
)
#print sorted dataframe for top spender with style formatting
spenders_df.sort_values(by='Purchase Count', ascending=False).head().style.format({'Average Purchase Price':"${:,.2f}", 'Total Purchase Value':"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [612]:
#define series for data frame
double_items = pymoli_df.groupby(['Item ID', 'Item Name']) 
items_purchase = double_items['Purchase ID'].count()
items_average = double_items['Price'].mean()
items_total = items_purchase * items_average

#Build Item ID/Item Name dataframe
items_df = pd.DataFrame(
        {
            'Purchase Count' : items_purchase,
            'Item Price' : items_average,
            'Total Purchase Value' : items_total              
        }
                
)
#print dataframe with style format
items_df.sort_values(by='Purchase Count', ascending=False).head().style.format({'Item Price':"${:,.2f}", 'Total Purchase Value':"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [613]:
#sort items by purchase value in descending order with formatting
items_df.sort_values(by='Total Purchase Value', ascending=False).head().style.format({'Item Price':"${:,.2f}", 'Total Purchase Value':"${:,.2f}"})